<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <title>BlogWeb</title>



</head>

<body>

    <div>


        <nav class="nav-bar">
            <h2 class="title">
                <a href="/"> BlogWeb </a>


            </h2>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/"> Home </a>
                </li>
                <li class="nav-list-item">
                    <a href="/contact"> contact </a>
                </li>
                <li class="nav-list-item">
                    <a href="/about"> About </a>
                </li>
                <li class="nav-list-item">
                    <a href="/compose"> New </a>
                </li>
            </ul>
        </nav>
    </div>