<%- include('partials/header'); -%>

    <div class="container">

        <h1 class="titlemain">
            <%= title %>
        </h1>
        <p class="para">
            <%= para %>
        </p>

    </div>
    <%- include('partials/footer'); -%>